In [1]:
import pandas as pd

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.cluster import DBSCAN
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler

In [2]:
tweets = pd.read_csv('datasets/cleaned_tweets.csv')

In [3]:
tweets.head()

,tweets,id,name,location,coordinates,created_at,favorite_count,geo,place,source,clean_tweets
0,@Jim_Howard_13 @RepAndyBiggsAZ @RandPaul just ...,1.260339e+18,corporationsgonewild 🌊,any town USA,NaN,2020-05-12,1.0,NaN,NaN,Twitter Web App,jim howard repandybiggsaz randpaul go drink cl...
1,Latest study of #Trump's proposed #COVID19 dru...,1.260334e+18,Darius,"Berkeley, CA",NaN,2020-05-12,0.0,NaN,NaN,Twitter for Android,latest study trump proposed covid drug hydroxy...
2,Restock!!\n\nClorox Fraganzia Multi-Purpose Cl...,1.260322e+18,Find 😷 Essentials & Save 💰 Shopping Online,NaN,NaN,2020-05-12,0.0,NaN,NaN,Twitter Web App,restock clorox fraganzia multi purpose cleaner...
3,RT @ABC7: Searching high and low for #Clorox d...,1.260316e+18,jeaned62803,NaN,NaN,2020-05-12,0.0,NaN,NaN,Twitter for iPhone,rt abc searching high low clorox disinfecting ...
4,😊\n[...] Alec #Baldwin returns as President #T...,1.260315e+18,Desnot,Paris Bastille,NaN,2020-05-12,0.0,NaN,NaN,Twitter Web App,alec baldwin returns president trump drinking ...

In [4]:
tweets.dtypes

tweets             object
id                float64
name               object
location           object
coordinates        object
created_at         object
favorite_count    float64
geo                object
place              object
source             object
clean_tweets       object
dtype: object

In [4]:
tweets.isnull().sum()

tweets               0
id                   0
name                 0
location          1821
coordinates       6134
created_at           0
favorite_count       0
geo               6134
place             6008
source               0
clean_tweets         8
dtype: int64

In [5]:
tweets.dropna(subset = ['clean_tweets'] , inplace=True)

In [6]:
tweets.isnull().sum()

tweets               0
id                   0
name                 0
location          1814
coordinates       6126
created_at           0
favorite_count       0
geo               6126
place             6000
source               0
clean_tweets         0
dtype: int64

In [7]:
cvec = CountVectorizer(stop_words=None , ngram_range=(1, 2))

cvec_matrix = cvec.fit_transform(tweets['clean_tweets'])

cvec_term_df = pd.DataFrame(cvec_matrix.toarray(), columns=cvec.get_feature_names())
cvec_term_df.head()

,aa,aaah,aaah also,aaal,aaal bw,aahvhvxtp,aahvhvxtp handsanitizer,aarhpsi,aaronblake,aaronblake would,...,zyejvigc,zyvtvrsmvz,zyxjptipzn,zyyn,zyyn dwumr,zz,zz nrw,zzhpqwjkt,zzl,zznpnia
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
tfidf = TfidfVectorizer(stop_words=None , ngram_range=(1, 2))

tfidf_matrix = tfidf.fit_transform(tweets['clean_tweets'])

tfidf_term_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf.get_feature_names())
tfidf_term_df.head()

,aa,aaah,aaah also,aaal,aaal bw,aahvhvxtp,aahvhvxtp handsanitizer,aarhpsi,aaronblake,aaronblake would,...,zyejvigc,zyvtvrsmvz,zyxjptipzn,zyyn,zyyn dwumr,zz,zz nrw,zzhpqwjkt,zzl,zznpnia
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
tfidf_term_df.sum().sort_values(ascending=False).head(20)

co                   157.268333
https                157.126803
https co             156.344705
rt                   140.830209
clorox                98.662066
alcohol               70.108089
isopropyl             65.144618
disinfectant          62.769171
toiletpaper           60.059064
isopropyl alcohol     56.918925
facemask              54.316415
lysol                 49.262571
hand                  48.427888
sanitizer             46.119049
trump                 43.415741
covid                 42.656648
handsanitizer         42.482825
hand sanitizer        38.047538
wipes                 37.139828
realdonaldtrump       34.061699
dtype: float64

In [10]:
tfidf_term_df.drop(columns=['co', 'https', 'https co', 'rt'], inplace=True)

In [138]:
tfidf_term_df.sum().sort_values(ascending=False).head(10) / tfidf_term_df.shape[0] * 100

clorox               1.596215
alcohol              1.134252
isopropyl            1.053949
disinfectant         1.015518
toiletpaper          0.971672
isopropyl alcohol    0.920869
facemask             0.878764
lysol                0.797000
hand                 0.783496
sanitizer            0.746142
dtype: float64

In [12]:
cvec_term_df.drop(columns=['co', 'https', 'https co', 'rt'], inplace=True)

In [137]:
cvec_term_df.sum().sort_values(ascending=False).head(60) / cvec_term_df.shape[0] * 100

clorox               15.806504
alcohol              12.053066
isopropyl            10.791134
disinfectant         10.419026
facemask              9.318880
isopropyl alcohol     8.768808
toiletpaper           8.477593
hand                  8.380521
sanitizer             7.765734
lysol                 7.474519
trump                 6.827374
covid                 6.795017
hand sanitizer        6.180230
handsanitizer         6.099337
wipes                 4.918298
realdonaldtrump       4.675619
people                4.400582
face                  4.238796
mask                  4.141725
bleach                3.381330
coronavirus           3.284258
masks                 3.154829
new                   2.960686
get                   2.895972
need                  2.847436
toilet                2.798900
paper                 2.701828
like                  2.459149
today                 2.426792
take                  2.394435
use                   2.345899
bt                    2.232648
call                  2.200291
one                   2.200291
que                   2.200291
face mask             2.119398
enough                2.087041
still                 2.070862
de                    2.054684
day                   2.054684
go                    2.038505
toilet paper          2.022326
spray                 1.925255
perfect               1.860540
washable              1.844362
stock                 1.844362
pack                  1.828183
oz                    1.828183
us                    1.812005
clean                 1.812005
totally               1.795826
would                 1.795826
gtconway              1.795826
may                   1.779647
available             1.731111
know                  1.714933
make                  1.714933
good                  1.698754
tests                 1.682576
free                  1.666397
dtype: float64

In [ ]:
# https://github.com/TungPhung/Twitter-Natural-Disaster-Mapping/blob/master/ProcessingandModeling.ipynb

In [142]:
dbscan_cvec = DBSCAN()

In [143]:
important_words = ['clorox', 'alcohol', 'isopropyl', 'disinfectant', 'face mask', 'isopropyl alcohol',
                   'toilet paper', 'hand', 'sanitizer', 'hand sanitizer', 'lysol', 'handsanitizer',
                   'wipes', 'face', 'mask', 'bleach', 'masks', 'new', 'get', 'need', 'toilet', 'paper',
                   'today', 'go' , 'toiletpaper', 'spray', 'stock', 'oz', 'us', 'available']

In [144]:
dbscan_cvec.fit(cvec_term_df)

DBSCAN(algorithm='auto', eps=0.5, leaf_size=30, metric='euclidean',
       metric_params=None, min_samples=5, n_jobs=None, p=None)

In [145]:
# checking the silhouette score
silhouette_score(cvec_term_df, dbscan_cvec.labels_)

-0.05342333876367848

In [146]:
dbscan_cvec.fit(cvec_term_df[important_words])

DBSCAN(algorithm='auto', eps=0.5, leaf_size=30, metric='euclidean',
       metric_params=None, min_samples=5, n_jobs=None, p=None)

In [147]:
dbscan_cvec.labels_

array([ 0,  1,  2, ...,  1, 72,  1])

In [148]:
tweets['commodity_tweet'] = dbscan_cvec.labels_

In [149]:
# checking the silhouette score
silhouette_score(cvec_term_df[important_words], dbscan_cvec.labels_)

0.8276351962894265

In [122]:
tweets_dbscan = tweets.groupby(['tweets'])['commodity_tweet'].mean()

In [123]:
pd.DataFrame(tweets_dbscan).sort_values('commodity_tweet', ascending=True).head(40)

                                                    commodity_tweet
tweets
Looking for hand sanitizer? Desert Essence has ...               -1
Restock!! \n\nClorox 4 in 1 Disinfectant Saniti...               -1
The last two stores I went into had toilet pape...               -1
@Lysol so when does the average shopper get to ...               -1
RT @SirFreebie75061: My body has absorbed so mu...               -1
mamaya available na.. 🤗✨🤭☺️\nKids Premium Neopr...               -1
RT @SinmaraDesign: NEW!! 📢 Mask collection!  ht...               -1
Check out Lot 6  - 11oz  Free Shipping #Clorox ...               -1
The lockdown is not sustainable. Open up...\n\n...               -1
Restock!! \n\nClorox 4 in 1 Disinfectant Saniti...               -1
Check out CLOROX2 Powder Color Booster &amp; St...               -1
Check out @paulwallbaby facemask! I need one of...               -1
Check Out Bounty Quick-Size Paper Towels, White...               -1
With the new data from NY stay at home people m...               -1
RT @Seller9991: 3pcs Washable Reusable Kpop Fac...               -1
RT @Seller9991: 200ml Antibacterial Hand Saniti...               -1
@MarkhamDown @FatKidDeals It's crazy. I dont wh...               -1
Cartoons of hand wash and hand sanitizer now av...               -1
Can you find isopropyl alcohol? It might be eas...               -1
Can you believe it's been 7 weeks and our publi...               -1
Restock!! \n\nClorox 4 in 1 Disinfectant Saniti...               -1
Can someone PLEASE ask that person in the White...               -1
RT @SoniaOwilliams: What website still has hand...               -1
RT @ScottAdamsSays: There's a massive IQ test o...               -1
Restock!! \n\nLysol Disinfectant Spray, Spring ...               -1
Stay focused and get stuff done. #sandiegolabel...               -1
@KenGardner11 I'm extremely high risk.\nI wear ...               -1
Toiletpaper, is there anything it can't do?\n\n...               -1
Toilet tissue so hard to get now people were fi...               -1
RT @211archanasrk1: Ss used shapes to draw Afri...               -1
RT @2Sicklerville: New Brooklyn Park👀📸‼️ #Covid...               -1
Clorox Won’t Catch Up With Demand for Disinfect...               -1
Clorox Wipes, Hand Sanitizer, Hydrogen Peroxide...               -1
Clorox Ultra Concentrated Germicidal Bleach 121...               -1
Restock!! Will sell out fast.\n\nLysol Disinfec...               -1
Clorox Disinfecting Wipes Value Pack - 3 pack\n...               -1
Clorox Clean-Up Disinfectant Bleach Cleaner, Fr...               -1
Clorox Clean-Up Disinfectant Bleach Cleaner, Fr...               -1
Clorox AC1602 Disinfecting Bathroom Cleaner Spr...               -1
Cleaned the slide and changed the water in the ...               -1

In [124]:
geo_dbscan = tweets.groupby(['geo'])['commodity_tweet'].mean()
pd.DataFrame(geo_dbscan).sort_values('commodity_tweet', ascending=True).head(40)

                                                    commodity_tweet
geo
{'type': 'Point', 'coordinates': [33.94283183, ...        -1.000000
{'type': 'Point', 'coordinates': [43.5154, -79....        -1.000000
{'type': 'Point', 'coordinates': [34.0564, -118...        -1.000000
{'type': 'Point', 'coordinates': [6.45306, 3.39...        -1.000000
{'type': 'Point', 'coordinates': [44.95905, -92...        -1.000000
{'type': 'Point', 'coordinates': [33.76443, -84...        -1.000000
{'type': 'Point', 'coordinates': [28.56006986, ...        -1.000000
{'type': 'Point', 'coordinates': [32.8695093, -...        -1.000000
{'type': 'Point', 'coordinates': [45.4201767, -...        -1.000000
{'type': 'Point', 'coordinates': [46.50105096, ...        -1.000000
{'type': 'Point', 'coordinates': [44.96629517, ...        -1.000000
{'type': 'Point', 'coordinates': [42.1296, -87....        -1.000000
{'type': 'Point', 'coordinates': [41.883222, -8...         1.000000
{'type': 'Point', 'coordinates': [40.87787, -73...         1.000000
{'type': 'Point', 'coordinates': [41.7114, -83....         1.000000
{'type': 'Point', 'coordinates': [40.73152008, ...         1.000000
{'type': 'Point', 'coordinates': [39.7603, -84....         1.000000
{'type': 'Point', 'coordinates': [18.46469095, ...         1.000000
{'type': 'Point', 'coordinates': [43.79039901, ...         1.000000
{'type': 'Point', 'coordinates': [45.4167, -75.7]}         1.000000
{'type': 'Point', 'coordinates': [49.24444427, ...         1.000000
{'type': 'Point', 'coordinates': [52.51473999, ...         1.000000
{'type': 'Point', 'coordinates': [43.45, -80.48...         1.000000
{'type': 'Point', 'coordinates': [38.2525, -85....         1.000000
{'type': 'Point', 'coordinates': [38.983669, -7...         1.000000
{'type': 'Point', 'coordinates': [9.00042816, -...         1.000000
{'type': 'Point', 'coordinates': [36.1798464, -...         1.000000
{'type': 'Point', 'coordinates': [18.4715, -69....         1.000000
{'type': 'Point', 'coordinates': [36.1651, -86....         1.000000
{'type': 'Point', 'coordinates': [27.4856, -99....         1.000000
{'type': 'Point', 'coordinates': [33.8281, -118...         1.000000
{'type': 'Point', 'coordinates': [35.04049246, ...         2.000000
{'type': 'Point', 'coordinates': [36.18905773, ...         4.000000
{'type': 'Point', 'coordinates': [40.7352, -74....         4.000000
{'type': 'Point', 'coordinates': [40.7142, -74....         9.333333
{'type': 'Point', 'coordinates': [46.5425899, -...        18.000000
{'type': 'Point', 'coordinates': [34.03021986, ...        26.000000
{'type': 'Point', 'coordinates': [25.68704629, ...        27.000000
{'type': 'Point', 'coordinates': [27.9736, -82....        50.000000
{'type': 'Point', 'coordinates': [35.91572, -79...        53.000000

In [40]:
ss = StandardScaler()
tfidf_transformed = ss.fit_transform(tfidf_term_df)

In [41]:
tfidf_trans = DBSCAN()
tfidf_trans.fit(tfidf_term_df[important_words])

DBSCAN(algorithm='auto', eps=0.5, leaf_size=30, metric='euclidean',
       metric_params=None, min_samples=5, n_jobs=None, p=None)

In [42]:
# checking the silhouette score
silhouette_score(tfidf_term_df, tfidf_trans.labels_)

-0.007261363257047598

In [43]:
tfidf_trans.labels_

array([0, 0, 0, ..., 0, 0, 0])

In [126]:
tweets['source'].value_counts(normalize=True)

Twitter for iPhone      0.333279
Twitter for Android     0.257240
Twitter Web App         0.241223
Twitter for iPad        0.035431
Instagram               0.026209
                          ...
Healthcare Aggregate    0.000162
SPTK: PutnamDV          0.000162
Primal for Twitter      0.000162
crowdeath_ebooks        0.000162
Talon (Plus)            0.000162
Name: source, Length: 147, dtype: float64

In [127]:
.333279 + .257240

0.590519

In [135]:
tweets.groupby(['geo'])['commodity_tweet'].mean().sort_values()

geo
{'type': 'Point', 'coordinates': [33.94283183, -118.33342164]}     -1.000000
{'type': 'Point', 'coordinates': [43.5154, -79.62653]}             -1.000000
{'type': 'Point', 'coordinates': [34.0564, -118.2445]}             -1.000000
{'type': 'Point', 'coordinates': [6.45306, 3.39583]}               -1.000000
{'type': 'Point', 'coordinates': [44.95905, -92.95983]}            -1.000000
{'type': 'Point', 'coordinates': [33.76443, -84.35005]}            -1.000000
{'type': 'Point', 'coordinates': [28.56006986, -81.82137357]}      -1.000000
{'type': 'Point', 'coordinates': [32.8695093, -96.6797152]}        -1.000000
{'type': 'Point', 'coordinates': [45.4201767, -122.78649566]}      -1.000000
{'type': 'Point', 'coordinates': [46.50105096, -84.34907913]}      -1.000000
{'type': 'Point', 'coordinates': [44.96629517, -93.07325315]}      -1.000000
{'type': 'Point', 'coordinates': [42.1296, -87.8311]}              -1.000000
{'type': 'Point', 'coordinates': [41.883222, -87.632496]}           1.000000
{'type': 'Point', 'coordinates': [40.87787, -73.90277]}             1.000000
{'type': 'Point', 'coordinates': [41.7114, -83.7032]}               1.000000
{'type': 'Point', 'coordinates': [40.73152008, -111.90099645]}      1.000000
{'type': 'Point', 'coordinates': [39.7603, -84.1965]}               1.000000
{'type': 'Point', 'coordinates': [18.46469095, -69.9591136]}        1.000000
{'type': 'Point', 'coordinates': [43.79039901, -80.14427771]}       1.000000
{'type': 'Point', 'coordinates': [45.4167, -75.7]}                  1.000000
{'type': 'Point', 'coordinates': [49.24444427, -119.52532768]}      1.000000
{'type': 'Point', 'coordinates': [52.51473999, 13.45402394]}        1.000000
{'type': 'Point', 'coordinates': [43.45, -80.4833]}                 1.000000
{'type': 'Point', 'coordinates': [38.2525, -85.7554]}               1.000000
{'type': 'Point', 'coordinates': [38.983669, -77.094765]}           1.000000
{'type': 'Point', 'coordinates': [9.00042816, -79.52101545]}        1.000000
{'type': 'Point', 'coordinates': [36.1798464, -86.78906462]}        1.000000
{'type': 'Point', 'coordinates': [18.4715, -69.8927]}               1.000000
{'type': 'Point', 'coordinates': [36.1651, -86.7837]}               1.000000
{'type': 'Point', 'coordinates': [27.4856, -99.5071]}               1.000000
{'type': 'Point', 'coordinates': [33.8281, -118.06312]}             1.000000
{'type': 'Point', 'coordinates': [35.04049246, -85.68161077]}       2.000000
{'type': 'Point', 'coordinates': [36.18905773, -115.05810742]}      4.000000
{'type': 'Point', 'coordinates': [40.7352, -74.1849]}               4.000000
{'type': 'Point', 'coordinates': [40.7142, -74.0064]}               9.333333
{'type': 'Point', 'coordinates': [46.5425899, -72.7519499]}        18.000000
{'type': 'Point', 'coordinates': [34.03021986, -118.4440835]}      26.000000
{'type': 'Point', 'coordinates': [25.68704629, -80.38046315]}      27.000000
{'type': 'Point', 'coordinates': [27.9736, -82.7643]}              50.000000
{'type': 'Point', 'coordinates': [35.91572, -79.06188]}            53.000000
{'type': 'Point', 'coordinates': [49.8494, -99.9619]}              56.000000
{'type': 'Point', 'coordinates': [19.0627, 72.8764]}               72.000000
{'type': 'Point', 'coordinates': [26.15636098, -80.13861964]}      72.000000
{'type': 'Point', 'coordinates': [35.0873, -106.6506]}             72.000000
{'type': 'Point', 'coordinates': [37.7793, -122.419]}              72.000000
{'type': 'Point', 'coordinates': [43.26, -79.8761]}                72.000000
{'type': 'Point', 'coordinates': [40.8297, -73.113]}               72.000000
{'type': 'Point', 'coordinates': [34.1722, -118.378]}              72.000000
{'type': 'Point', 'coordinates': [36.140987, -86.772124]}          75.000000
{'type': 'Point', 'coordinates': [43.3772, -73.6136]}              78.000000
{'type': 'Point', 'coordinates': [34.3483744, -93.2968314]}        96.000000
{'type': 'Point', 'coordinates': [47.22992075, -123.12409861]}    110.000000
Name: commodity_tweet, dtype: float64